Repository mpskeeter/twitch-list: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Added ngx-socket-io.
  package.json
  yarn.lock
Due: prettier --write

Configuring prettier/tslint/lint-staged.
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

refactor(system): more changes
  .lintstagedrc
  .prettierignore
  commitlint.config.js
  commitlint.json
  global.d.ts
  package.json
  src/app/app.module.ts
  src/app/twitch-helix/components/index.ts
  src/app/twitch-helix/components/script-hack.component.ts
  src/app/twitch-helix/components/twitch-helix-stream.component.html
  src/app/twitch-helix/components/twitch-helix-stream.component.scss
  src/app/twitch-helix/components/twitch-helix-stream.component.ts
  src/app/twitch-helix/components/twitch-helix-video.component.html
  src/app/twitch-helix/components/twitch-helix-video.component.ts
  src/app/twitch-helix/components/twitch-helix-view-stream.component.html
  src/app/twitch-helix/components/twitch-helix-view-stream.component.ts
  src/app/twitch-helix/twitch-helix.module.ts
  src/environments/environment.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix

Fixed references to twitch-auth.service
  src/app/app.module.ts
  src/app/twitch-auth/components/callback/callback.component.html
  src/app/twitch-auth/components/callback/callback.component.scss
  src/app/twitch-auth/components/callback/callback.component.spec.ts
  src/app/twitch-auth/components/callback/callback.component.ts
  src/app/twitch-auth/components/external-login/external-login.component.html
  src/app/twitch-auth/components/external-login/external-login.component.scss
  src/app/twitch-auth/components/external-login/external-login.component.spec.ts
  src/app/twitch-auth/components/external-login/external-login.component.ts
  src/app/twitch-auth/components/index.ts
  src/app/twitch-auth/components/navbar/navbar.component.html
  src/app/twitch-auth/components/navbar/navbar.component.scss
  src/app/twitch-auth/components/navbar/navbar.component.spec.ts
  src/app/twitch-auth/components/navbar/navbar.component.ts
  src/app/twitch-auth/services/index.ts
  src/app/twitch-auth/services/twitch-auth.service.ts
  src/app/twitch-auth/twitch-auth.module.ts
  src/app/twitch-shared/components/callback/callback.component.ts
  src/app/twitch-shared/components/external-login/external-login.component.ts
  src/app/twitch-shared/components/navbar/navbar.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Adding _redirects file for netlify
  src/_redirects
Due: none

More commits cleaning up for netlify
  src/app/auth/index.ts
  src/app/twitch-helix/components/dynamic.component.ts
  src/app/twitch-helix/components/index.ts
  src/app/twitch-helix/components/twitch-helix-users-follows.component.html
  src/app/twitch-helix/components/twitch-helix-users-follows.component.ts
  src/app/twitch-shared/guards/auth.guard.ts
  src/app/twitch-shared/guards/index.ts
  src/app/twitch-shared/twitch-shared.module.ts
Due: prettier --write, tslint --fix

More commits cleaning up for netlify.
  src/app/app.module.ts
  src/app/twitch-helix/components/twitch-helix-followed.component.ts
  src/app/twitch-kraken/components/index.ts
  src/app/twitch-kraken/components/twitch-kraken-followed-stream.component.html
  src/app/twitch-kraken/components/twitch-kraken-followed-stream.component.ts
  src/app/twitch-kraken/components/twitch-kraken-followed.component.html
  src/app/twitch-kraken/components/twitch-kraken-followed.component.scss
  src/app/twitch-kraken/components/twitch-kraken-followed.component.ts
  src/app/twitch-kraken/components/twitch-kraken-follows.component.html
  src/app/twitch-kraken/components/twitch-kraken-follows.component.ts
  src/app/twitch-kraken/components/twitch-kraken-stream.component.html
  src/app/twitch-kraken/components/twitch-kraken-stream.component.scss
  src/app/twitch-kraken/components/twitch-kraken-stream.component.ts
  src/app/twitch-kraken/models/index.ts
  src/app/twitch-kraken/models/twitch-app-token.ts
  src/app/twitch-kraken/models/twitch-channel.ts
  src/app/twitch-kraken/models/twitch-error.ts
  src/app/twitch-kraken/models/twitch-pagination.ts
  src/app/twitch-kraken/models/twitch-stream.ts
  src/app/twitch-kraken/models/twitch-streams.ts
  src/app/twitch-kraken/models/twitch-user-follows-channel.ts
  src/app/twitch-kraken/models/twitch-user-follows.ts
  src/app/twitch-kraken/models/twitch-user.ts
  src/app/twitch-kraken/models/twitch-users.ts
  src/app/twitch-kraken/services/index.ts
  src/app/twitch-kraken/services/twitch-kraken-api.service.ts
  src/app/twitch-kraken/twitch-kraken-routing.module.ts
  src/app/twitch-kraken/twitch-kraken.module.ts
  src/app/twitch-shared/components/navbar/navbar.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Making TwitchLocalStorageService public.
  src/app/twitch-shared/components/navbar/navbar.component.ts
Due: prettier --write, tslint --fix

more changes.
  src/app/twitch-helix/services/twitch-helix-api.service.ts
  src/app/twitch-helix/services/twitch-kraken-api.service.ts
  src/app/twitch-shared/components/navbar/navbar.component.html
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

Changing redirectUrl.
  scripts/create-env.js
  src/environments/environment.prod.ts
Due: prettier --write, tslint --fix

Adding _redirects to angular.json
  angular.json
Due: prettier --write

Upon receiving valid user Access Token, validateAccessToken to get user_id.
  src/app/twitch-shared/services/twitch-auth.service.ts
Due: prettier --write, tslint --fix

Fixed BuildAPIParams for auth service.
  src/app/twitch-shared/services/twitch-auth.service.ts
Due: prettier --write, tslint --fix

Added netlify badge
  README.md
Due: prettier --write

Implementing guard.
  src/app/app-routing.module.ts
  src/app/twitch-helix/services/twitch-helix-api.service.ts
  src/app/twitch-shared/components/external-login/external-login.component.ts
  src/app/twitch-shared/guards/auth.guard.ts
  src/app/twitch-shared/services/twitch-auth.service.ts
Due: prettier --write, tslint --fix

acquireAccessToken should now wait for validateAccessToken o complete.
  src/app/twitch-shared/components/callback/callback.component.ts
  src/app/twitch-shared/services/twitch-auth.service.ts
Due: prettier --write, tslint --fix

Removed unused code from auth service.
  src/app/twitch-shared/services/twitch-auth.service.ts
Due: prettier --write, tslint --fix

removed unused packages.
  package.json
  yarn.lock
Due: prettier --write

Rebranded compiled app as follower-list.
  src/app/app.component.html
  src/app/twitch-shared/components/callback/callback.component.html
  src/app/twitch-shared/components/full-layout/full.component.html
  src/app/twitch-shared/components/full-layout/full.component.scss
Due: prettier --write, stylelint --fix

Create TwitchBaseService
  src/app/twitch-helix/services/twitch-helix-api.service.ts
  src/app/twitch-helix/services/twitch-kraken-api.service.ts
  src/app/twitch-shared/components/callback/callback.component.html
  src/app/twitch-shared/components/callback/callback.component.spec.ts
  src/app/twitch-shared/components/full-layout/full.component.ts
  src/app/twitch-shared/services/index.ts
  src/app/twitch-shared/services/menu-items.ts
  src/app/twitch-shared/services/twitch-auth.service.ts
  src/app/twitch-shared/services/twitch-base.service.ts
  src/app/twitch-shared/services/twitch-local-storage.service.ts
Due: prettier --write, tslint --fix

Changed BaseService.initializeHeaders to a protected function.
  src/app/twitch-shared/services/twitch-base.service.ts
Due: prettier --write, tslint --fix

Shifted pipes to shared and will now display users icon in upper right corner.
  src/app/twitch-helix/twitch-helix.module.ts
  src/app/twitch-shared/components/navbar/navbar.component.html
  src/app/twitch-shared/components/navbar/navbar.component.ts
  src/app/twitch-shared/pipes/index.ts
  src/app/twitch-shared/pipes/replace.pipe.ts
  src/app/twitch-shared/pipes/safe-html.pipe.ts
  src/app/twitch-shared/services/twitch-base.service.ts
  src/app/twitch-shared/twitch-shared.module.ts
Due: prettier --write, tslint --fix

Logout now clears users avatar.
  src/app/twitch-shared/components/navbar/navbar.component.ts
  src/app/twitch-shared/services/twitch-auth.service.ts
  src/app/twitch-shared/services/twitch-base.service.ts
Due: prettier --write, tslint --fix

Adding new package ngx-spec.
  package.json
  yarn.lock
Due: prettier --write

Creating first function.
  .firebaserc
  firebase.json
  functions/.gitignore
  functions/package.json
  functions/src/index.ts
  functions/src/models/index.ts
  functions/src/models/twitch-app-token.ts
  functions/src/models/twitch-channel.ts
  functions/src/models/twitch-clip.ts
  functions/src/models/twitch-clips.ts
  functions/src/models/twitch-pagination.ts
  functions/src/models/twitch-stream-metadata.ts
  functions/src/models/twitch-stream.ts
  functions/src/models/twitch-streams.ts
  functions/src/models/twitch-subscription-error.ts
  functions/src/models/twitch-subscription-success.ts
  functions/src/models/twitch-top-game.ts
  functions/src/models/twitch-top-games.ts
  functions/src/models/twitch-user.ts
  functions/src/models/twitch-users-follows-data.ts
  functions/src/models/twitch-users-follows.ts
  functions/src/models/twitch-users.ts
  functions/tsconfig.json
  functions/tslint.json
  functions/yarn.lock
  scripts/create-env.js
Due: prettier --write, tslint --fix

Preparing for a reboot of netlify functions
  .gitignore
  functions/.gitignore
  functions/package.json
  functions/src/index.ts
  functions/src/models/index.ts
  functions/src/models/twitch-app-token.ts
  functions/src/models/twitch-channel.ts
  functions/src/models/twitch-clip.ts
  functions/src/models/twitch-clips.ts
  functions/src/models/twitch-pagination.ts
  functions/src/models/twitch-stream-metadata.ts
  functions/src/models/twitch-stream.ts
  functions/src/models/twitch-streams.ts
  functions/src/models/twitch-subscription-error.ts
  functions/src/models/twitch-subscription-success.ts
  functions/src/models/twitch-top-game.ts
  functions/src/models/twitch-top-games.ts
  functions/src/models/twitch-user.ts
  functions/src/models/twitch-users-follows-data.ts
  functions/src/models/twitch-users-follows.ts
  functions/src/models/twitch-users.ts
  functions/tsconfig.json
  functions/tslint.json
  functions/yarn.lock
  netlify.toml
  package.json
  scripts/create-env.js
  src/environments/environment.prod.ts
  yarn.lock
Due: prettier --write, tslint --fix

update @angular/material @angular/flex-layout
  package.json
  yarn.lock
Due: prettier --write

adding .env to .gitignore
  .gitignore
Due: none

ng update @angular/core
  package.json
  yarn.lock
Due: prettier --write

update core packages
  package.json
  yarn.lock
Due: prettier --write

settings up script to create functions settings
  functions/src/settings.json
  scripts/create-env.js
Due: prettier --write

updateing angular
  yarn.lock
Due: none

Initial functions being built.
  .babelrc
  .gitignore
  config/webpack.functions.js
  functions/GetUser.ts
  functions/SetUser.ts
  functions/libs/firebase.ts
  functions/src/settings.json
  lambda/GetUser.js
  lambda/SetUser.js
  netlify.toml
  package.json
  scripts/create-env.js
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

Update prod script line to use npm run.
  package.json
Due: prettier --write

Not finished
  .gitignore
  functions/GetUser.ts
  functions/SetUser.ts
  functions/db-get-user.ts
  functions/db-set-user.ts
  functions/libs/db.ts
  functions/libs/firebase.ts
  functions/libs/http-responses.ts
  functions/libs/twitch-helix-api.service.ts
  functions/libs/twitch.ts
  functions/twitch-get-following.ts
  lambda/GetUser.js
  lambda/SetUser.js
  netlify.toml
  package.json
  scripts/create-env.js
  tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

Adding items to .gitignore
  .gitignore
Due: none

adding console.og n building environment settings.
  scripts/create-env.js
Due: none

creating separate environment for development.
  scripts/create-env.js
Due: none

netlify functions should be working.
  .gitignore
  functions/libs/twitch-helix-api.service.ts
  functions/libs/twitch.ts
  functions/twitch-get-following.ts
  netlify.toml
  scripts/create-env.js
  src/app/twitch-helix/services/twitch-helix-api.service.ts
  src/app/twitch-shared/services/twitch-auth.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md,html}) or (any of: *.ts)) or (any of: *.scss)
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
